on post-fs-data
# Add For LeadCore
    mkdir /data/fpsensor
    chown system system /data/fpsensor
    chown system system /data/fpsensor/socket
    chmod 0660  /data/fpsensor
    chmod 0660  /data/fpsensor/socket

on init
	# Add For Mcroarray
    chmod 0666 /dev/madev0
    chown system system /dev/madev0
	
    # Add For LeadCore
    chmod 0660 /dev/fpsensor
    chown system system /dev/fpsensor
	
    # Add For Sunwave	
    chown system system /dev/sunwave_fp
    chmod 0660          /dev/sunwave_fp
